h1 {
    color: #119DA4
}

h2 {
    color: #0C7489;
}

h3 {
    color: #13505B;
}

ul {
    color: #040404
}

img {
    height: 300px;
    width: auto;

}

.title_image {
    height: auto;
    width: auto;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
